<!DOCTYPE html>
<html>
<head>
  <title>Personal Stock Forecaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Personal Stock Forecaster</a>
      <div class="nav-collapse">
        <% if user_signed_in?  %>
            <ul class="nav">
              <li class="active">
                <a href="/pages/about_us">About Us</a>
              </li>
            </ul>
            <p class="pull-right">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-text" %>
        <% else%>
            <p class="pull-right">
              <%= link_to 'Sign In', new_user_session_path, class: "navbar-text" %>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% unless notice.nil? %>
      <div id="notice" class="alert alert-info">
        <%= notice %>
      </div>
  <% end %>

  <% unless alert.nil? %>
      <div id="alert" class="alert alert-error">
        <%= alert %>
      </div>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
