<!DOCTYPE html>
<html>
<head>
  <title>Personal Stock Forecaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Personal Stock Forecaster</a>
      <div class="nav-collapse">
        <% if user_signed_in?  %>
            <ul class="nav">
              <li class="active">
                <%=link_to "Stock Index", stocks_path%>
              </li>
            </ul>
            <p class="pull-right">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-text" %>
        <% else%>
            <p class="pull-right">
              <%= link_to 'Sign In', new_user_session_path, class: "navbar-text" %>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% unless notice.nil? %>
      <div id="notice" class="alert alert-info">
        <%= notice %>
      </div>
  <% end %>

  <% unless alert.nil? %>
      <div id="alert" class="alert alert-error">
        <%= alert %>
      </div>
  <% end %>

  <%= yield %>

  <br/><br/>
  <hr/>
  <footer>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class=brand>
            <%= image_tag("logo.jpg")%>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <%=link_to "About Us", pages_about_us_path%>
              </li>
              <li>
                <%=link_to "Contact Us", pages_contact_us_path%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

</body>
</html>
